@import '~@angular/material/theming';
@import '../scss/variables.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu-text {
  margin-left: 8px;
}

.user-info {
  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__profile {
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
  }

  &__title {
   margin: 8px 0 0 0;
  }

  &__email {
    opacity: 0.6;
    margin: 0 0 5px;
  }

  &__chip {
    display: inline-block;
    margin: 0 2px;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background-color: mat-color($spotify-app-primary);
    color: white;
    border-radius: 8px;
    font-size: 10px;
  }

  &__url {
    color: white;
    text-decoration: none;
  }
}
