<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && userInfo">
    <mat-toolbar>
      <mat-icon svgIcon="spotify"></mat-icon>
      <span class="menu-text">Menu</span>
    </mat-toolbar>
    <section class="user-info" *ngIf="userInfo">
      <div class="user-info__content">
        <img class="user-info__profile" [src]="userInfo.images[0].url" alt="Profile Img">
        <h3 class="user-info__title">{{userInfo.display_name}}</h3>
        <p class="user-info__email mat-small">{{userInfo.email}}</p>
        <div class="country">
          <div class="user-info__chip" color="primary">
            <span>{{userInfo.country}}</span>
          </div>
          <div class="user-info__chip" color="primary">
            <a class="user-info__url" [href]="userInfo.external_urls.spotify" target="_blank">URL</a> 
          </div>
        </div>
      </div>
    </section>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Spotify API</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
