/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './scss/variables.scss';
html { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*,
*::before,
*::after { 
  box-sizing: inherit;
}


@include mat-core();



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spotify-app-theme);

.container {
    margin: 0 4%;
  
    @media #{$mq-medium} {
      margin: 0 8%;
    }
  
    @media #{$mq-large} {
      margin: 0 12%;
    }
  
    @media #{$mq-xlarge} {
      margin: 0 18%;
    }
 }