@import '~@angular/material/theming';

$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";

$spotify-app-primary: mat-palette($mat-grey, 800);
$spotify-app-accent:  mat-palette($mat-green, 500);


$spotify-app-theme: mat-light-theme($spotify-app-primary, $spotify-app-accent);